@page "/curriculo-herrique"

<h3 class="titulo">curriculo</h3>





<div class="autor-container">
    <a class="btn-voltar" href="/">← Voltar para Home</a>
    <img src="https://virtual.ifro.edu.br/jiparana/pluginfile.php/222920/user/icon/boost_union/f2?rev=4623176" alt="Foto de Henrique" class="autor-foto">

    <div class="autor-conteudo">
        <p>Olá! Me chamo <strong>Carlos Henrique Leite Barbosa</strong>, sou estudante do curso Técnico em Informática na turma 3B.</p>

        <p>Tenho grande interesse por tecnologia, lógica, desenvolvimento de sistemas e também por desafios que envolvam matemática e ciências. Ao longo da minha trajetória, participei de diversas olimpíadas escolares e conquistei premiações em eventos como a <strong>OBMEP</strong> (Olimpíada Brasileira de Matemática), <strong>OBA</strong> (Olimpíada Brasileira de Astronomia) e <strong>Mangahigh</strong>.</p>

        <p>Fui reconhecido como <strong>Aluno de Honra</strong> em minha escola pelo desempenho, comprometimento e comportamento exemplar. Além da área técnica, gosto de aprender sobre direito, ciências humanas e resolver problemas complexos.</p>

        <p>Este projeto foi desenvolvido como parte de meus estudos em desenvolvimento web com Blazor e C#, buscando aplicar na prática os conhecimentos adquiridos na disciplina.</p>

        <p>Sinta-se à vontade para explorar o site e conhecer um pouco mais do que sou capaz de construir!</p>
    </div>
</div>