<h3>Currículo</h3>

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 10px; font-family: Arial, sans-serif; max-width: 800px; margin-left: auto; margin-right: auto; line-height: 1.4;">

    <img src="https://virtual.ifro.edu.br/jiparana/pluginfile.php/225695/user/icon/boost_union/f1?rev=6122712"
         alt="Foto de perfil"
         style="width: 130px; height: 130px; border-radius: 50%; object-fit: cover; border: 1px solid #aaa; margin-bottom: 10px;" />

    

        <p>
            <strong>Matheus Pedroso Da Silva</strong>, 17 anos, estudante do <strong>IFRO – Campus Ji-Paraná</strong> e técnico em gambiarra.
            Não gosto de jogos eletrônicos, desprezo a informática e os avanços tecnológicos. Vamos todos viver nas cavernas.
        </p>

        
        <p><strong>Profissão:</strong> Técnico em Informática, Soldador, Técnico em Eletrônica</p>

        
        <p>Técnico em Informática – IFRO Campus Ji-Paraná</p>
        <p>Curso prático de Soldagem e Metalúrgica</p>
        <p>Manutenção de aparelhos eletrônicos em geral</p>

      
        <p>Manutenção e montagem de computadores</p>
        <p>Reparo de notebooks, placas, TVs e videogames</p>
        <p>Soldagem elétrica e mecânica</p>
        <p>Formatação, backup e instalação de sistemas</p>
        <p>Montagem de redes locais e cabeamento</p>

      
        <p><strong>Telefone:</strong> (69) 99985-7781</p>
        <p><strong>Email:</strong> matheuspedroso530@email.com</p>

    <button onclick="history.back()" style="margin-top: 25px; background-color: #3498db; color: white; border: none; padding: 12px 25px; border-radius: 8px; font-size: 16px; cursor: pointer;">
        ← Voltar
    </button>

    
</div>



@page "/curriculo-matheus"

@code {

}
