@page "/"

<PageTitle>Home</PageTitle>

<h1>Curriculos</h1>

<body>
    <NavLink class="nav-link" href="curriculo-yuri" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Yuri
    </NavLink>

    <NavLink class="nav-link" href="curriculo-hugo" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hugo
    </NavLink>

    <NavLink class="nav-link" href="curriculo-marcus" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Marcus
    </NavLink>

    <NavLink class="nav-link" href="curriculo-herrique" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Henrique
    </NavLink>

    <NavLink class="nav-link" href="curriculo-matheus" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Matheus
    </NavLink>
</body>
